.btn.btn-primary,
.bg-primary,
.btn-success {
    background-color: #FC637D !important;
    color: #FFFFFF !important;
}

.text-family {
    color: #FC637D !important;
}

.btn-check:active + .btn.btn-primary, .btn-check:checked + .btn.btn-primary, .btn.btn-primary.active, .btn.btn-primary.show, .btn.btn-primary:active:not(.btn-active), .btn.btn-primary:focus:not(.btn-active), .btn.btn-primary:hover:not(.btn-active), .show > .btn.btn-primary {
    background-color: rgba(252, 99, 125, 0.65) !important;
}

.form-control.form-control-solid {
    background-color: #ECECEC !important;;
}

.aside.aside-primary {
    background-color: rgba(252, 99, 125, 0.65) !important;
    color: #FFFFFF;
}

.bg-secondary {
    background-color: #ECECEC !important;
}


.text-right {
    text-align: right;
}

.center-container {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container-success {
    padding: 1rem;
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.container-success span.mega-text {
    font-size: 2.5rem;
    font-weight: bold;
}

label.folio {
    padding: .5rem;
    background-color: #FFFFFF;
    color: #FC637D !important;
}

.menu-state-title-primary .menu-item .menu-link.active .menu-title,
.menu-state-title-primary .menu-item .menu-link.active {
    color: #FC637D !important;

}

.menu-state-title-primary .menu-item .menu-link:hover:not(.disabled):not(.active), .menu-state-title-primary .menu-item.hover > .menu-link:not(.disabled):not(.active),
.menu-state-title-primary .menu-item .menu-link:hover:not(.disabled):not(.active) .menu-title, .menu-state-title-primary .menu-item.hover > .menu-link:not(.disabled):not(.active) .menu-title {
    color: #FC637D !important;
}

.aside-logo a {
    margin: 0 auto;
}

.color-none {
    color: inherit !important;
}

form label {
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 500;
}

.steper-nav {
    display: table;
    width: 100%;
}

.steper-item {
    display: table-cell !important;
    width: 25%;
    padding: 2rem 1rem;
    padding-left: 4rem;


    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}

.steper-item.active {
    text-decoration: underline #FC637D 4px !important;
    text-underline: #0b0e18;
    line-height: 1.2;
    font-weight: bold;
}

.steper-item div {
    width: 45px;
    height: 45px;
    background: #FC637D;
    padding: 1rem;
    border-radius: 40px;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    font-size: 15px;
    position: absolute;
    margin-left: -4rem;
    margin-top: -1rem;
}

[data-kt-sticky-landing-header="on"] .menu-link.text-white {
    color: #0b0e18 !important;
}

text {
    color: #ffffff;
}
